In [129]:
# importing the libraries required for the ETL pipeline
import pandas as pd
import numpy as np
import sqlite3 as sql


#Importing the data

messages = pd.read_csv("messages.csv")
disaster_category = pd.read_csv("categories.csv")

print (messages.shape)
print (disaster_category['categories'].value_counts().shape)

#Merge datasets on id

categorized_message = messages.merge(disaster_category,on = ['id'])
# print (categorized_message.head())

(26248, 4)
(4003,)

In [107]:
x = disaster_category['categories']

In [108]:
c = x[0]

In [109]:
x[0]

'related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0'

In [110]:
category_list = [w[:-2] for w in x[0].split(";")]

In [111]:
categories = pd.DataFrame(columns = category_list)

In [112]:
categories

Empty DataFrame
Columns: [related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, child_alone, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

[0 rows x 36 columns]

In [113]:
x = pd.Series(x)

In [114]:
d = x.str.split(";",expand=True)

In [115]:
d.columns = category_list

In [116]:
def split_result(x):
    return x[-1]

In [117]:
pc = d.apply(np.vectorize(lambda x: int(x[-1])))

In [118]:
disasters = pd.concat([disaster_category,pc],axis =1)

In [119]:
disasters.drop(labels = 'categories',axis =1,inplace = True)

In [120]:
disasters

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26243,30261,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26244,30262,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26245,30263,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26246,30264,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26247,30265,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
p =[]
q = []

In [12]:
for i in x:
    p = []
    p = [c.strip('-1') for c in i.split(";") if "1" in c]
    q.append(p)

In [123]:
disasters['id'].value_counts()

24779    3
17079    2
13914    2
15576    2
29119    2
        ..
9807     1
9806     1
9805     1
9804     1
30265    1
Name: id, Length: 26180, dtype: int64

In [125]:
disasters[disasters['id']==24779]

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
21358,24779,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21359,24779,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21360,24779,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
ho

In [128]:
disasters['id'].value_counts()

17385    2
12416    2
13914    2
17553    2
24247    2
        ..
9800     1
9799     1
9798     1
9797     1
30265    1
Name: id, Length: 26180, dtype: int64

In [130]:
conn = sql.connect('test.db')
disasters.to_sql('test',conn)

26216